{% extends 'base.html.twig' %}

{% block title %} Delete sector {% endblock %}

{% block header %}
	{% include '_includes/header.html.twig' with {
		'levels': {
			1 : {
				'name' : 'Crud',
				'route' : 'crud',
				},
			2 : {
				'name' : 'Sectors',
				'route' : 'sectors',
				},
			3 : {
				'name' : 'Delete sector',
				'route' : 'delete-sector',
				'param' : sector.id,
				}
		}} %}
{% endblock %}

{% block body %}
<div class="jumbotron text-center bg-dark text-light">
	<h1> Are you sure you want to delete sector '{{sector.name}}' ? </h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-xl-4 col-md-3 col-sm-2"></div>
        <div class="col-xl-4 col-md-6 col-sm-8 px-4 shadow p-3 m-5 bg-white rounded">
            {{ form_start(form)}}
                {% if error is defined %}
                    <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
                        {{error}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}

                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <a class="text-white text-decoration-none" href="{{path('sectors')}}">
                                <button type="button" class="btn btn-danger btn-block">Cancel</button>
                            </a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block">Delete</button>
                        </div>
                    </div>
                </div>
            {{ form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}

{% block goback %}{% endblock %}
